body {
    margin: 0;
    padding: 0;
}

.header,
.hero,
.gallery,
.quote,
.signup-box,
.footer,
.test {
    padding: 5px 300px 5px;
}

.header,
.hero {
    background-color: #1F2937;
    color: white;
}

.header{
    display:flex;
    justify-content: space-between;
}

.gallery-head {
    text-align: center;
}

.gallery-photos {
    display: flex;
    justify-content: space-around;
}

.photo-desc {
    flex-wrap: wrap;
    width: 200px;
    text-align: center;
}

img {
    border-radius: 25px;
}

.header-pic {
    width: 100px;
}

.hero-pic {
    width: 500px;
}

.photo {
    width: 200px;
    border: solid #3882F6 4px;
}

.links {
    display: flex;
    gap: 10px;
}

.hero {
    display: flex;
    justify-content: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
}


.signup-button {
    background-color: #3882F6;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

