body {
    margin: 0;
    padding: 0;
}

.header,
.hero,
.gallery,
.quote,
.signup-box,
.footer,
.test {
    padding: 5px 300px 5px;
}

.header,
.hero {
    background-color: #1F2937;
    color: white;
}

.header{
    display:flex;
    justify-content: space-between;
}

.gallery-photos {
    display: flex;
    justify-content: center;
}

.photo {
    border: solid red 2 px;
}

.links {
    display: flex;
    gap: 3px;
}

.hero {
    display: flex;
    justify-content: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
}


.signup-button {
    background-color: #3882F6;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

