body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.header,
.hero,
.gallery,
.quote,
.signup-box,
.footer,
.test {
    padding-left: 300px;
    padding-right: 300px;
}

.header,
.hero {
    background-color: #1F2937;
    color: white;
}

.header{
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
}

.gallery-head {
    text-align: center;
}

.gallery-photos {
    display: flex;
    justify-content: space-around;
}

.photo-desc {
    flex-wrap: wrap;
    width: 200px;
    text-align: center;
}

img {
    border-radius: 25px;
}

.header-pic {
    width: 75px;
}

.hero-pic {
    width: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 0px;
}

.hero-header {
    margin: 5px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text,
links {
    font-size: 18px;
    color: #E5E7EB;
}

.photo {
    width: 150px;
    border: solid #3882F6 4px;
}

.links {
    display: flex;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.signup-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    width: 75px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 25px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.quote {
    margin-top: 75px;
    margin-bottom: 75px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}

.signup-box {
    display: flex;
}


/* font imports */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}



